**In this notebook the Deep Learning technique(Neural Network) is applied over the dataset for the predictions**

In [1]:
#Import the libraries
import numpy as np
import pandas as pd

import tensorflow as tf

In [2]:
# Import keras and usable libraries from it
from keras.models import Sequential
from keras.layers import Activation
from keras.layers import Dense
from keras.layers.core import Dropout
from keras import optimizers

Using TensorFlow backend.

In [3]:
#Seed the inputs using seed function from numpy
seed = 10
np.random.seed(seed)

tf.set_random_seed(seed)

In [4]:
#Import the dataset
dataset = pd.read_csv("credit_card_defaults.csv")
dataset.head(4)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [5]:
#Preprocess the dataset
dataset = dataset.drop(['ID'], axis=1)

#Change the PAY_0 feature to PAY_1
dataset.rename(columns={'PAY_0':'PAY_1'}, inplace=True)

#Organise the unwanted categorical level in variables
dataset["EDUCATION"]=dataset["EDUCATION"].map({0:4,1:1,2:2,3:3,4:4,5:4,6:4})
dataset["MARRIAGE"]=dataset["MARRIAGE"].map({0:3,1:1,2:2,3:3})

In [6]:
# Feature Scaling
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler = scaler.fit(dataset)

c:\users\shashank\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [7]:
#Split the train and test set
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,23].values

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [8]:
model = Sequential()

In [9]:
sgd = optimizers.SGD(lr=0.01, decay=1e-6)

In [10]:
#Train Neural network( the network will be feed forward)
model.add(Dense(128, input_dim=(23), activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))

model.add(Dense(1,  activation='sigmoid'))

In [11]:
model.compile(loss='binary_crossentropy', optimizer= sgd, metrics=['accuracy'])

In [12]:
model.fit(X_train, y_train, batch_size=100, epochs=20, verbose=1, validation_data=(X_test,y_test))

Train on 21000 samples, validate on 9000 samples
Epoch 1/20
21000/21000 [==============================] - 1s 51us/step - loss: 0.6369 - acc: 0.7801 - val_loss: 0.5928 - val_acc: 0.7758
Epoch 2/20
21000/21000 [==============================] - 1s 30us/step - loss: 0.5691 - acc: 0.7801 - val_loss: 0.5563 - val_acc: 0.7758
Epoch 3/20
21000/21000 [==============================] - 1s 30us/step - loss: 0.5446 - acc: 0.7801 - val_loss: 0.5421 - val_acc: 0.7758
Epoch 4/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5346 - acc: 0.7801 - val_loss: 0.5363 - val_acc: 0.7758
Epoch 5/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5304 - acc: 0.7801 - val_loss: 0.5339 - val_acc: 0.7758
Epoch 6/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5285 - acc: 0.7801 - val_loss: 0.5329 - val_acc: 0.7758
Epoch 7/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5276 - acc: 0.7801 - val_loss: 0.5325 - val_acc: 0.7758
Epoch 8/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5272 - acc: 0.7801 - val_loss: 0.5323 - val_acc: 0.7758
Epoch 9/20
21000/21000 [==============================] - 1s 31us/step - loss: 0.5270 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 10/20
21000/21000 [==============================] - 1s 32us/step - loss: 0.5269 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 11/20
21000/21000 [==============================] - 1s 32us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 12/20
21000/21000 [==============================] - 1s 34us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 13/20
21000/21000 [==============================] - 3s 139us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 14/20
21000/21000 [==============================] - 1s 42us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 15/20
21000/21000 [==============================] - 1s 40us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 16/20
21000/21000 [==============================] - 1s 33us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5322 - val_acc: 0.7758
Epoch 17/20
21000/21000 [==============================] - 1s 34us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5323 - val_acc: 0.7758
Epoch 18/20
21000/21000 [==============================] - 1s 35us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5323 - val_acc: 0.7758
Epoch 19/20
21000/21000 [==============================] - 2s 99us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5323 - val_acc: 0.7758
Epoch 20/20
21000/21000 [==============================] - 1s 58us/step - loss: 0.5268 - acc: 0.7801 - val_loss: 0.5323 - val_acc: 0.7758

In [14]:
# calculate the accuracy
accuracy = model.evaluate(X_test,y_test)
print("Accuracy: ",accuracy)

9000/9000 [==============================] - 0s 27us/step
Accuracy:  [0.5322595710754394, 0.7757777777777778]

In [15]:
#Predict from the model
y_pred = model.predict(X_test)
y_pred

array([[0.21969703],
       [0.21969703],
       [0.21969703],
       ...,
       [0.21969703],
       [0.21969703],
       [0.21969703]], dtype=float32)

In [19]:
# Evaluate the model using different metrics


from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

precision = precision_score(y_test, y_pred.round(), average='weighted')
recall = recall_score(y_test, y_pred.round(), average='weighted')
f1score = f1_score(y_test, y_pred.round(), average='weighted')

print("Precision: ",precision)
print("Recall: ",recall)
print("F1Score: ",f1score)

Precision:  0.6018311604938271
Recall:  0.7757777777777778
F1Score:  0.6778226059872912

c:\users\shashank\appdata\local\programs\python\python36\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)